<tr class="maced">
    <th class="maced">
        {{ field_html_name }}:
    </th>

    <td class="maced">
        <input type="text" class="maced form-control" id="merge-{{ item_name }}1-{{ field_name }}-input" disabled />
    </td>

    <th class="maced">
        <button type="button" class="maced glyphicon glyphicon-arrow-right" style="color: Green; font-size: 20px;"></button>
    </th>

    <td class="maced" style="background-color: #F7D358;">
        <input type="text" class="maced form-control" id="merge-{{ item_name }}-{{ field_name }}-input" />
    </td>

    <th class="maced">
        <button type="button" class="maced glyphicon glyphicon-arrow-left" style="color: Green; font-size: 20px;"></button>
    </th>

    <td class="maced">
        <input type="text" class="maced form-control" id="merge-{{ item_name }}2-{{ field_name }}-input" disabled />
    </td>
</tr>