<tr class="maced">
    <th class="maced">
        {{ field_html_name }}:
    </th>

    <td class="maced">
        {% include "maced/inputs/merge_panel_input.html" with panel_number="1" can_disable=True %}
    </td>

    <th class="maced">
        <button type="button" class="maced glyphicon glyphicon-arrow-right" style="color: Green; font-size: 20px;"></button>
    </th>

    <td class="maced" style="background-color: #F7D358;">
        {% include "maced/inputs/merge_panel_input.html" with panel_number="" can_disable=False %}
    </td>

    <th class="maced">
        <button type="button" class="maced glyphicon glyphicon-arrow-left" style="color: Green; font-size: 20px;"></button>
    </th>

    <td class="maced">
        {% include "maced/inputs/merge_panel_input.html" with panel_number="2" can_disable=True %}
    </td>
</tr>