<tr class="maced">
    <th class="maced" style="border: 0;"></th>
    <th class="maced" style="text-align: center; vertical-align: middle; border: 0;"> {{ item_html_name }} 1 </th>
    <th class="maced" style="text-align: center; vertical-align: middle; border: 0;"> All </th>
    <th class="maced" style="text-align: center; vertical-align: middle; border: 0; background-color: #F7D358;">
        Resulting {{ item_html_name }}
    </th>
    <th class="maced" style="text-align: center; vertical-align: middle; border: 0;"> All </th>
    <th class="maced" style="text-align: center; vertical-align: middle; border: 0;"> {{ item_html_name }} 2 </th>
</tr>
<tr class="maced">
    <th class="maced" style="border-bottom: 1px solid black; border-top: 0;"></th>
    <th style="border-bottom: 1px solid black; border-top: 0;">
        <select class="maced form-control" id="merge-{{ item_name }}1-input"> {{ maced_object_option_html_code }} </select>
    </th>
    <th class="maced" style="border-bottom: 1px solid black; border-top: 0; width: 0;">
        <button type="button" class="maced glyphicon glyphicon-arrow-right" style="color: Green; font-size: 20px"></button>
    </th>
    <th class="maced" style="background-color: #F7D358; border-bottom: 1px solid black; border-top: 0;"></th>
    <th class="maced" style="border-bottom: 1px solid black; border-top: 0; width: 0;">
        <button type="button" class="maced glyphicon glyphicon-arrow-left" style="color: Green; font-size: 20px"></button>
    </th>
    <th style="border-bottom: 1px solid black; border-top: 0;">
        <select class="maced form-control" id="merge-{{ item_name }}2-input"> {{ maced_object_option_html_code }} </select>
    </th>
</tr>